body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    }
    
    #main-title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    }
    
    .content {
    margin-bottom: 12px;
    font-size: 18px;
    }
    
    
    
    
    